.form {
  position: relative;
  top: 0;
  left: 0;
  background: #ccc;
  border-radius: 1rem;

  padding: 0.4rem;
  color: #333;
  margin-bottom: 5rem;
  position: relative;
  text-align: center;

  .input {
    padding: 0.8rem;
    font-size: 1.2rem;
  }
  .search-btn {
    padding: 0.7rem;
    border: #333 solid 2px;
    background: cyan;
    cursor: pointer;
    transition: all 0.6s ease-out;
    &:hover {
      color: cyan;
      background: #333;
    }
  }
}
