* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #f7f7fb, #9a8bf6, #6d57f5);
}
@import './weatherCompo';
@import './input';
